.skills__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills__param {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.params__box {
    position: relative;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    background-color: hsla(208, 100%, 97%, 0.493);
}

.params__box img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.skills__list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 15px;
}

.skills__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 40px;
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 15px;
    background-color: #343434;
    color: #fff;
    letter-spacing: 0.1rem;
}

.item__title {
    width: 100%;
    min-width: 200px;
}

.item__level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item__levelValue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 14px;
}

.item__arrowUp {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    cursor: pointer;
    font-size: 2rem;
    color: hsl(101, 100%, 38%);
    transition: all 0.5s ease-in-out;
}

.arrow:hover {
    animation: animate 0.85s infinite ease-in-out;
}

@keyframes animate {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}
