.features__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    padding: 50px;
    user-select: none;
    transition: all 1s ease-in-out;
}

.features__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 89vh;
    background-color: rgba(19, 19, 19, 0.75);
    border-radius: 30px;
    padding: 60px;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
}

.features__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    flex: 1;
    padding: 25px;
}

.features__right {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.features_progressbar {
    position: relative;
    display: flex;
    height: auto;
}

.btn__battle {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    user-select: none;
}
.btn__battle img {
    width: 90%;
}

.btn__battle:active {
    transform: scale(0.9);
}
.btn__battle:hover {
    background-color: rgb(221, 221, 221);
}
.btn__battle:hover img {
    animation: btnAnimate 0.2s linear;
}
@keyframes btnAnimate {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.features__partition {
    position: relative;
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
}

.features__partition p {
    color: #fff;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.features__partition .activePage {
    color: #ffffff;
    transition: all 0.3s ease-out;
}

.features__partition .activePage::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease-out;
    border-radius: 50%;
}

.features__partition .noactivePage {
    color: hsla(0, 0%, 100%, 0.5);
}

.features__cards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    user-select: none;
}

@media (max-width: 1255px) {
    .features__container {
        height: 100%;
    }
    .features__right {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .features__wrapper {
        padding: 20px;
    }

    .features__container {
        padding: 30px;
    }
    .features__partition p {
        font-size: 16px;
    }
}

@media (max-width: 580px) {
    .features__wrapper {
        padding: 5px;
    }
    .features__container {
        padding: 15px;
    }
    .features__partition {
        padding: 0;
        flex-direction: column;
        gap: 10px;
    }
    .features__partition p {
        font-size: 12px;
    }
    .features__left {
        padding: 0;
    }
    .features__right {
        margin-top: 60px;
    }
    .btn__battle {
        width: 50px;
        height: 50px;
    }
}
