.features__left_name {
    display: flex;
    gap: 10px;
    max-width: 500px;
    height: 45px;
    padding: 13px 20px;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.2);
}

.features__left_name input {
    width: fit-content;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1rem;
    text-align: center;
    outline: none;
    border: none;
    background: none;
}
.features__left_name input::placeholder {
    text-align: center;
    color: black;
}

.features__left_rename {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.rename__icon {
    color: rgba(89, 255, 47, 1);
}
