.progressbar__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 10px;
    width: 100%;
}

.progressbar__container p {
    color: #fff;
    font-size: 22px;
    min-width: 100px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    user-select: none;
}

.progressbar__field {
    position: relative;
    width: 75%;
    min-width: 200px;
    height: 40px;
    border: 1px solid rgba(233, 233, 233, 1);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.progressbar__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #92f232;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    z-index: 2;
    animation: g 2.5s infinite ease-in-out;
}

.progressbar__field span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    user-select: none;
}

.progress__liquid {
    z-index: 1;
    width: 70px;
    height: 70px;
    animation: g 2.5s infinite ease-in-out, r 3s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
    position: absolute;
    right: -5px;
    top: -10px;
    background-color: #92f232;
    border-radius: 40%;
}
@keyframes g {
    0% {
        background-color: #92f232;
    }
    50% {
        background-color: #36e430;
    }
    100% {
        background-color: #92f232;
    }
}

@keyframes r {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@media (max-width: 580px) {
    .progressbar__container {
        padding: 0;
        gap: 0;
    }
    .progressbar__container p {
        min-width: 70px;
        font-size: 18px;
    }
}
